
body {
    background-color: #081F4D;
    font-family: Montserrat, sans-serif; 
    padding-top: 80px;
}

html{
    scroll-behavior: smooth;
   


}

    .title{
        width: 375px;
        padding: 10px;
        height: 15px;
        margin-bottom: 30px;
    }


    .titulo_texto{

        font-size: 80% ;
        margin-bottom: 30px;
        font-family:Verdana, Geneva, Tahoma, sans-serif;
        font-style: italic;

    }    


    .Hamburguers_lista {
        color: white;
        font-family: "Pacifico";
        font-size: 1.8rem;
        font-style: italic;
        line-height: 1.5;        
        margin-top: 15px;        
        margin-bottom: 4px;     
        text-align: left;
        background-color: #2A4C8A;
        border-radius: 6px;
    }
    .hamburguers_artesanais{
        color: white;
        font-family: "Pacifico";
        font-size: 1.8rem;
        font-style: italic;
        line-height: 1.5;        
        margin-top: 15px;        
        margin-bottom: 4px;     
        text-align: left;
        background-color: #2A4C8A;
        border-radius: 6px;
    }

    h2{
        color:white;
        font-family: Montserrat, sans-serif;
        font-size: 0.9rem;
        margin-top: 0;            
        margin-bottom: 2px;     
        font-style: oblique;
        text-align: left;
    }

    p{
        margin-top: 0;            
        margin-bottom: 15px;      
        color:white;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 0.6rem;
        text-align: left;
    }
    hr{
        border-color: white;

    }

    .filtro_container{
        position: sticky;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 1000 ;
        
        display: flex;
        gap: 10px;
        white-space: nowrap;
        overflow-x: auto;
        
        padding: 10px;
        background-color: #081F4D;
        
         box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3),
         0 10px 25px rgba(0, 0, 0, 0.35);
    
         border-bottom: 2px solid rgba(255,255,255,0.2);

    }
    [id] {
   scroll-margin-top: 120%;
}

    
    .filtro_btn{
    flex-shrink: 0;

    padding: 0.5rem 0.8rem;
    margin-right: 10px;
    border: none;
    background-color:whitesmoke;
    color:black;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s;
    }
    
    .filtro_btn:hover{

        background-color: grey;
    }
    .cuscuzes{
        color: white;
        font-family: "Pacifico";
        font-size: 1.8rem;
        font-style: italic;
        line-height: 1.5;        
        margin-top: 15px;        
        margin-bottom: 4px;     
        text-align: left;
        background-color: #2A4C8A;
        border-radius: 6px;


    }
    .title_tapiocas h2{
        color: white;
        font-family: "Pacifico";
        font-size: 1.8rem;
        font-style: italic;
        line-height: 1.5;        
        margin-top: 15px;        
        margin-bottom: 4px;     
        text-align: left;
        background-color: #2A4C8A;
        border-radius: 6px;
    }

    .title_salgados h2{
        color: white;
        font-family: "Pacifico";
        font-size: 1.8rem;
        font-style: italic;
        line-height: 1.5;        
        margin-top: 15px;        
        margin-bottom: 4px;     
        text-align: left;
        background-color: #2A4C8A;
        border-radius: 6px;
    }
    

    .title_cachorroquente h2{
        color: white;
        font-family: "Pacifico";
        font-size: 1.8rem;
        font-style: italic;
        line-height: 1.5;        
        margin-top: 15px;        
        margin-bottom: 4px;     
        text-align: left;
        background-color: #2A4C8A;
        border-radius: 6px;


        
    }



    .title_pasteis h2{
          color: white;
        font-family: "Pacifico";
        font-size: 1.8rem;
        font-style: italic;
        line-height: 1.5;        
        margin-top: 15px;        
        margin-bottom: 4px;     
        text-align: left;
        background-color: #2A4C8A;
        border-radius: 6px;
    }

.title_pasteis p{
    margin-top: 0;            
        margin-bottom: 15px;      
        color:white;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 1.0rem;
        text-align: left;
}

.Adicional{
    margin-top: 0;            
        margin-bottom: 15px;      
        color: white;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 0.9rem;
        text-align: left;
}



.icone_conteiner{
    display: flex;
    justify-content: flex-start;
    padding-left: 1,20px;
    margin: 20px 0;



}

.icone{
    width: 30rem;
    height: 15rem;

}

.hambúrguer_normal{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
}

.img_hamburguer{
width: 7rem;
height: 5rem;

margin-left: auto;


}
.title_bebidas h2{
        color: white;
        font-family: "Pacifico";
        font-size: 1.8rem;
        font-style: italic;
        line-height: 1.5;        
        margin-top: 15px;        
        margin-bottom: 4px;     
        text-align: left;
        background-color: #2A4C8A;
        border-radius: 6px;
}
.title_destilados h2{
     color: white;
        font-family: "Pacifico";
        font-size: 1.8rem;
        font-style: italic;
        line-height: 1.5;        
        margin-top: 15px;        
        margin-bottom: 4px;     
        text-align: left;
        background-color: #2A4C8A;
        border-radius: 6px;
}
.img_insta{
    width: 1.6rem;
    cursor: pointer;
    transition: 0,3s;

}












    




    

   





    

    






    

   

